body {
	font-family: "Poppins", Sans-serif;
	color: #333;
	background: #ccc;
	}
#tudo {
	width: 100%;
	max-width: 1200px;
	min-width: 760px;
	margin: 0 auto;
	background: #fff;
	}
h1, h2, h3, h4, h5, h6 { color: #3c5258  }
.topo_header  {
	background: linear-gradient(55deg, white 30%, #DB0B46 30%);
    padding: 5px 20px;
}

.topo_header hgroup{
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo_header h1  {
	font-size: 36px;
	margin: 4px 0 2px 0;
	text-align: right;
	}
.topo_header a  {
	/* color: #900; */
	color: #fff;
	text-decoration: none;
	}
.topo_header h2 {
	font-size: 20px;
	margin: 2px 0 4px 0;
	text-align: right;
	color: #fff;
	}
.principal {
	width: 80%;
	float: right;
	padding-right:15px;
	}
.auxiliar {
	width: 18.3333%;
	float: left;
	padding-left: 15px;
	}
.rodape {
	clear: both;
	/* height: 25px; */
	background: rgb(135, 31, 56);
	color: #fff;
	padding: 5px 0;
	text-align: center; 
	}
/* Navegação */
a { text-decoration: none; }
.auxiliar_navegacao h2 { 
	text-align: center; 
}
ul { 
	list-style: none; 
	padding:0;
	margin:0;
}
.auxiliar_navegacao a {
	background: #DB0B46;
	color: #fff;
	display: block;
	margin-bottom: 1px;
	line-height: 2;
	padding-left: 10px;
	text-transform: capitalize;
}
.auxiliar_navegacao a:hover {
	background: #3c5258;
}

/* Parceiros links de texto */
.auxiliar_parceiros_textos { 
	margin: 30px 0;
	text-align: center;
}
.auxiliar_parceiros_textos li { 
	margin-bottom: 3px;
	background: #eee;
}
.auxiliar_parceiros_textos a { 
	padding: 8px 0;
	color: #333;
	display: block;
}
